name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build & Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2025]
        include:
          - os: ubuntu-24.04
            configure: cmake -DCMAKE_BUILD_TYPE=Debug -Bbuild
            build: cmake --build build -j
            artifact_name: unboxing-debug-x86_64-linux
            artifacts: |
              build/bch_test
              build/libtestutils.a
              build/libunboxing.a
              build/static_unboxer
              build/testunboxing
              build/unboxer
            test: ctest -j4 --test-dir build
          - os: macos-15
            configure: cmake -DCMAKE_BUILD_TYPE=Debug -Bbuild
            build: cmake --build build -j
            artifact_name: unboxing-debug-arm64-macos
            artifacts: |
              build/bch_test
              build/libtestutils.a
              build/libunboxing.a
              build/static_unboxer
              build/testunboxing
              build/unboxer
            test: ctest -j4 --test-dir build
          - os: windows-2025
            configure: cmake -Bbuild
            build: cmake --build build -j
            artifact_name: unboxing-debug-x86_64-win32
            artifacts: build/Debug/*
            test: ctest -j4 --test-dir build -C Debug

    runs-on: ${{ matrix.os }}

    steps:
      - name: Install dependencies
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: |
          sudo apt-get update
          sudo apt-get -y install check doxygen

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: "recursive"

      - name: Configure
        run: ${{ matrix.configure }}

      - name: Build
        run: ${{ matrix.build }}

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.artifacts }}

      - name: Test
        run: ${{ matrix.test }}
