name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-24.04

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install check

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: "recursive"

      - name: Configure
        run: cmake -Bbuild

      - name: Build
        run: cmake --build build -j

      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: unboxing
          path: |
            build/libtestutils.a
            build/libunboxing.a
            build/static_unboxer
            build/testunboxing
            build/unboxer

      - name: Test
        run: ctest -j6 --test-dir build
